.column {
  flex: 20%;
	height: 93%;
	margin: 0 0 0 50px;
}

.column h3 {
	margin: 0 0 16px 0;
}

.columnBox {
	background-color: #333336;
	padding: 12px 16px;
	height: 93%;
	overflow-y: auto;
	border-radius: 4px;
}