.header {
	background-color: #333336;
	font-family: "Gochi Hand", cursive;
	font-size: 36px;
	color: rgb(22, 144, 144);
  padding: 12px 24px;
	box-shadow: 0 1px 4px #141414;
	cursor: default;
}

.header h2 {
	position: relative;
	top: 1px;
	text-transform: uppercase;
}